@model IEnumerable<Product>
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var prod in Model)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@prod.Id">
                                    <img src="@prod.Images.FirstOrDefault().ImageUrl" class="img-fluid"
                                         style="height: 100px; object-fit: contain;">
                                </a>
                                <div class="desc">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@prod.Id" class="title">
                                        @prod.Name
                                    </a>
                                    <div class="price">
                                        <h6>$@prod.SalePrice</h6>
                                        <h6 class="l-through">$@prod.Price</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="~/img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End related-product Area -->